@import url(./main.css);

.body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#mainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

#genreTitleElement {
  margin-top: 10%;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}

.playlistCard {
  width: 190px;
  height: 250px;
  align-items: center;
  padding-bottom: 25px;
  justify-content: start;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--spotify-light-grey);
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.playlistCard:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: var(--spotify-light-grey-hover);
}

.playlistCard a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.imgElement {
  width: 90%;
  height: 30%;
  align-self: center;
  margin-top: 5px;
  object-fit: fill;
  padding: 10px;
  border-radius: 20px;
}

.playlistTitleElement {
  font-size: 1em;
  margin-left: 10px;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descriptionElement {
  font-size: x-small;
  max-height: 3.5em;
  overflow: hidden;
  margin-bottom: 1px;
  line-height: 1.5em;
  font-size: smaller;
  color: #888;
  text-overflow: ellipsis;
  padding-top: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.imgContainer {
  position: relative;
}

.spotifyPlayButton {
  margin-top: 13px;
  height: 50px;
  width: 50px;
  opacity: 0;
  position: absolute;
  right: 8%;
  bottom: 18%;
  transform: translateY(15px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition-delay: 0.01s;
}

.playlistCard:hover .spotifyPlayButton {
  opacity: 1;
  transform: translateY(0);
}
