.topTracks {
  margin: 40px 0px 20px 40px;
  width: 90%;
}

.topTracks a,
.text {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 13px;
  padding-top: 1%;
  margin-bottom: 1%;
}
.topTracks a:hover {
  color: white;
  text-decoration: underline;
}

.song {
  border-radius: 5px;
  display: flex;
}
.song .songDetails {
  display: flex;
  padding: 1% 0% 1% 0%;
  font-size: 14px;
  display: flex;
}
.song .songNumber {
  padding: 2% 2% 2% 0%;
  margin-left: 2%;
  font-size: 15px;
}
.song img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  padding: 1% 2% 1% 0%;
}
.song .nameAndArtists {
  width: 400px;
}
.song .albumName {
  width: 300px;
}
.song .albumName a {
  font-size: 14px;
}
.song:hover {
  background-color: #383737;
}
